.email-input-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 45%;
  box-shadow: 0 2px 5px #dfd2c000;
  border-radius: 4px;
  bottom: 20%;
  left: 27.5%;
  animation: fadeInUpAnimation 1s ease-out forwards;
}

@keyframes fadeInUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.email-input-container input {
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  text-align: center;
  margin-top: 20px;
  color: #333;
  width: 80%;
  max-width: 500px;
  outline: none;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
}

.email-input-container input:focus {
  box-shadow: 0 0 10px #dfd2c0;
}

.email-input-container .email-send-button {
  position: absolute;
  left: 110%;
  top: 64%;
  transform: translateY(-50%);
  background: #000000;
  color: white;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  opacity: 1; /* Ensure the submit button is visible */
  transition: all 0.4s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.email-input-container input:not(:placeholder-shown) + .email-send-button,
.email-input-container input:focus + .email-send-button {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.email-input-container .email-send-button:hover,
.email-input-container .email-send-button:focus {
  background-color: #1a1a1a;
  border-color: #dfd2c0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

.email-input-container .email-send-button:active {
  transform: translateY(-50%) scale(1);
  background-color: #333;
}
.email-input.input-error {
  border: 1px solid red; /* Example to highlight input on error */
}

.email-error-message {
  color: red; /* Style for error message */
  margin-top: 5px; /* Adjust spacing as needed */
  font-size: 0.9em; /* Adjust font size as needed */
  display: none; /* Hide all error messages by default */
}

.email-error-message:first-of-type {
  display: block; /* Display only the first error message */
}