.forgot-password-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f6f3f3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  margin-top: 15%;
}

h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
  font-weight: 600;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
}

.email-input {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f6f3f3;
  transition: border-color 0.3s;
}

.email-input:focus {
  outline: none;
  border-color: #f6f3f3;
}

.error-message,
.success-message {
  padding: 15px;
  border: 2px solid;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
}

.error-message {
  color: #e53e3e;
  border-color: #e53e3e;
  background-color: #fff5f5;
}

.success-message {
  color: #38a169;
  border-color: #38a169;
  background-color: #f0fff4;
}

.submit-button {
  background-color: #5a67d8;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #4c51bf;
}

.resend-email-button {
  background-color: #5a67d8;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.resend-email-button:hover {
  background-color: #4c51bf;
}

/* Added media query for responsiveness at 768px */
@media (max-width: 768px) {
  .forgot-password-page {
    margin-top: 55%;
    padding: 20px;
    max-width: 300px;
  }
  .email-form {
    max-width: 250px;
  }
  .email-input {
    padding: 10px;
  }
  .error-message,
  .success-message {
    padding: 10px;
    font-size: 0.75rem;
  }
  .submit-button,
  .resend-email-button {
    padding: 10px 15px;
    font-size: 0.875rem;
  }
}