.Textshow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    margin-right: 20%;
    position: absolute;
    left: 21%;
    bottom: 33%;
}

.Text-header {
    width: 45%;
    height: 60%;
    overflow: auto;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent; /* Ensure border is transparent */
    text-align: left;
}

.text-container h1, .text-container h2, .text-container p {
    opacity: 1; /* Ensure full opacity for readability */
    transition: color 0.3s ease-in-out; /* Smooth transition for color changes */
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5); /* Subtle glow for glassy effect */
    color: transparent; /* Make text color transparent */
    background-clip: text; /* Clip background to the text */
    -webkit-background-clip: text; /* For Safari */
    -webkit-text-fill-color: transparent; /* For Safari */
    background-image: linear-gradient(45deg, rgba(136, 83, 13, 0.856), rgba(24, 21, 21, 0.7)); /* Simulate glass effect */
}

.text-container h1 {
    font-size: 42px;
    font-weight: 600; /* Bold font weight */
    margin-bottom: 0.5% !important; /* Reduced spacing below the header */
    letter-spacing: 0.5px; /* Slight spacing between letters */
}

.text-container h2 {
    font-size: 32px;
    font-weight: 600; /* Consistent font weight with h1 */
    margin-bottom: 8px; /* Reduced bottom margin for spacing */
}

.text-container p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px; /* Consistent bottom spacing, reduced for compactness */
}

@keyframes fade-in {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fade-out {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(20px); }
}

.fade-in {
    animation: fade-in 1s ease-in-out forwards;
}

.fade-out {
    animation: fade-out 1s ease-in-out forwards;
}

@media (max-width: 1024px) {
    .Text-header {
        width: 90%;
        min-height: 250px; /* Adjusted for smaller screens */
    }
}

@media (max-width: 768px) {
    .Textshow {
      display: none;
    }
  }
